HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================
.venv/
venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Vector DB / runtime data
# =========================

# data 폴더 안의 모든 JSON 파일 무시
data/*.json
data/chroma_db/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
