@tailwind base;
@tailwind components;
@tailwind utilities;

/* global scrollbar */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #dbdbdb;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px;
  }